* {
  /* Globally sets box-sizing to border-box with 0 padding and 0 margin */
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  /* Sets background color for entire page to an off-white color */
  background-color: #d9dcd6;
}

header {
  /* Sets background color for heading to a cobalt color with a white font */
  padding: 20px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: #2a607c;
  color: #ffffff;
}

header h1 {
  /* Sets a larger font size for company logo */
  display: inline-block;
  font-size: 48px;
}

header h1 .seo {
  /* Sets a slightly darker shade of white for the seo in horiseon */
  color: #d9dcd6;
}

header nav {
  /* Sets different font for navigation and floats to the right */
  padding-top: 15px;
  margin-right: 20px;
  float: right;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
}

header nav ul {
  /* Sets no bullets for the list */
  list-style-type: none;
}

header nav ul li {
  /* Sets block display with margin for each navigation option */
  display: inline-block;
  margin-left: 25px;
}

header nav ul li a {
  /* Sets font for navigation links to white with no decoration */
  color: #ffffff;
  text-decoration: none;
}

p {
  /* Sets font size for paragraph text on entire page */
  font-size: 16px;
}

.hero {
  /* Sets size, margin, and block display mode for graphic below header */
  display: block;
  height: 800px;
  width: 100%;
  margin-bottom: 25px;
}

.float-left {
  /* Sets margin and float left for images that go to the left */
  float: left;
  margin-right: 25px;
}

.float-right {
  /* Sets margin and float right for images that go to the right */
  float: right;
  margin-left: 25px;
}

.content {
  /* Sets width and margin for content section on the left */
  width: 75%;
  display: inline-block;
  margin-left: 20px;
}

.content article {
  /* Sets margin, padding, height, font, and color for text in the content articles */
  margin-bottom: 20px;
  padding: 50px;
  height: 300px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: #0072bb;
  color: #ffffff;
}

.content article img {
  /* Sets max height for image in each content article */
  max-height: 200px;
}

.content article h2 {
  /* Sets margin and font size for the heading in each content article */
  margin-bottom: 20px;
  font-size: 36px;
}

.benefits {
  /* Sets height, width, padding, float right, and font for benefits section on the right */
  margin-right: 20px;
  padding: 20px;
  clear: both;
  float: right;
  width: 20%;
  height: 100%;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: #2589bd;
}

.benefits article {
  /* Sets margin, and color for text in the benefits articles */
  margin-bottom: 32px;
  color: #ffffff;
}

.benefits article h3 {
  /* Sets margin and text alignment for the heading in each benefits article */
  margin-bottom: 10px;
  text-align: center;
}

.benefits article img {
  /* Sets block display, margin, and max width for image in each benefits article */
  display: block;
  margin: 10px auto;
  max-width: 150px;
}

footer {
  /* Sets padding, font, and text alignment for footer */
  padding: 30px;
  clear: both;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align: center;
}

footer h2 {
  /* Sets larger font size for "Made with..." line in footer */
  font-size: 20px;
}
